*,
*::before,
*::after {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb{
  width: 10px;
  border-radius: 5px;
  background: #bfbfbf;
}
*::-webkit-scrollbar-track{
  background: #777;
}

canvas{
  display: block;
}
#stats {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

#stats canvas {
  width: max(100px, 10vw, 10vh);
  height: max(60px, 6vh, 6vw);
  user-select: none;
}